#!/bin/sh
# Aliases for all shells

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
elif ls -G > /dev/null 2>&1; then # macOS `ls`
    colorflag="-G"
fi

# ls aliases
alias ls='ls ${colorflag}'
alias l='ls -lAh ${colorflag}'
alias ll='ls -lh ${colorflag}'

# Lightweight funcs
aw()  { w3m "https://wiki.archlinux.org/index.php?search=$1"; }
ddg() { w3m "https://duckduckgo.com/lite?q=$1"; }
