[submodule ".vim/pack/mine/start/gruvbox"]
	path = .vim/pack/mine/start/gruvbox
	url = https://github.com/akarle/gruvbox
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/plugins/start/gv.vim"]
	path = .vim/pack/plugins/start/gv.vim
	url = https://github.com/junegunn/gv.vim
[submodule ".vim/pack/plugins/start/vim-dirvish"]
	path = .vim/pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "deps/pash"]
	path = etc/deps/pash
	url = https://github.com/dylanaraps/pash
